<div class="row">
  <form [formGroup]="registrationForm" (ngSubmit)="addUser()" novalidate>
    <div class="form-group">
      <label for="login">логін</label>
      <input id="login" class="form-control" type="text" formControlName="login" placeholder="від 6 до 10 латинських символів або цифр">
      <form-alert-component [field] = "registrationForm.get('login')"></form-alert-component>
    </div>
    <div class="form-group">
      <label for="name">ім'я</label>
      <input id="name" class="form-control" type="text" formControlName="name">
      <form-alert-component [field] = "registrationForm.get('name')"></form-alert-component>
    </div>
    <div class="form-group">
      <label for="secoundName">прізвище</label>
      <input id="secoundName" class="form-control" type="text" formControlName="secoundName">
      <form-alert-component [field] = "registrationForm.get('secoundName')"></form-alert-component>
    </div> 
    <div class="form-group">
      <label for="password">пароль</label>
      <input id="password" class="form-control" type="password" formControlName="password" placeholder="від 6 до 10 латинських символів або цифр">
      <form-alert-component [field] = "registrationForm.get('password')"></form-alert-component>
    </div>
    <div class="form-group">
      <label for="confirmPassword">повторіть пароль</label>
      <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword">
      <form-alert-component [field] = "registrationForm.get('confirmPassword')"></form-alert-component>
    </div>
    <div class="form-group">
      <button 
        class="btn btn-primary pull-right"
        [disabled]="!registrationForm.valid" 
        type="sumbit">
        зареєструватися
      </button>
    </div>
  </form>
</div>
