<div class="container">
  <div class="row">
    <form #form="ngForm" (ngSubmit)="addMessage(message)">
      <div class="form-group">
        <input 
          #text="ngModel"        
          id="text"
          name="text"                
          type="text" 
          class="form-control input-lg" 
          placeholder="Що в вас на думці?"
          [(ngModel)]="message.message" 
          required minlength="2">
          <div class="alert alert-danger" *ngIf="text.touched && !form.valid">
            Повідомлення занадто коротке
          </div>
      </div>
      <div *ngIf="isLogged(); else elseBlock" class="form-group">
        <button [disabled]="form.invalid" class="btn btn-primary pull-right" type="sumbit">додати</button>
      </div>
      <ng-template #elseBlock>
        <h3 class="text-center">Зареєструйтеся щоб залишити повідомлення</h3>
      </ng-template>
    </form>
  </div>
</div>